.investments-container {
    margin-top: 2rem;
    overflow-x: auto;
}

.investments-table {
    width: 100%;
    border-collapse: collapse;
}

.investments-table th,
.investments-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.investments-table th {
    background-color: #eee;
}
